#logoInicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;

    background-position: 50% 30%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-image: url("../img/LogoComNome.png");
}

#inicio {
    margin-bottom: 25vh;
    overflow: hidden;
}

#title {
    color: #C9E265;
    font-size: 30pt;
    padding-top: 15vh;
    font-weight: bold;
    line-height: 50px;
    margin-left: 12vw;
}

#subtitle {
    color: #BDB9B9;
    margin-top: 10px;
    font-size: 15pt;
    line-height: 30px;
    font-weight: bold;
    margin-left: 12vw;
    margin-bottom: 20vh;
}

#pilares{
    display: flex;
    margin-left: 12vw;
    margin-right: 12vw;
    gap: 100pt;
}

.pilar{
    width: 100%;
    height: 100%;
    text-align: center;
}

.pilar h3{
    color: #C9E265;
    font-weight: bold;
    font-size: 18pt;
    margin: 10pt;
}

.pilar p{
    color: #BDB9B9;
    line-height: 20pt;
    font-size: 14pt;
}
