#servicos{
    margin-bottom: 10vh;
}

#categorias{
    color: #C9E265;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

.trabalhos{
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.btn-segmento{
    border-radius: 100px;
    width: 200px;
    height: 200px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #C9E265;    
    border-color: transparent;
    cursor: pointer;
}

#software{
    background-image: url(../../laptop-outline.svg);
}

#inovacao{
    background-image: url(../../bulb-outline.svg);
}

#ia{
    background-image: url(../../hardware-chip-outline.svg);
}

#automacao{
    background-image: url(../../cog-outline.svg);
}

.subtitleBtn{
    color: #BDB9B9;
    margin-top: 15px;
    font-weight: bold;
}

.legenda{
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.selecionado{
    background-color: #C9E265;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    animation: select;
    animation-duration: 0.5s;
}

.naoSelecionado{
    background-color: #C9E26525;
    width: 200px;
    height: 200px;
    animation: notSelect;
    animation-duration: 0.5s;
}

hr{
    border-color: transparent;
    width: 70%;
    background-color: #BDB9B950;

    margin-bottom: 15vh;

}

@keyframes select {
    from{
        background-color: #C9E265;
        width: 200px;
        height: 200px;
    }
    to{
        background-color: #C9E265;
        width: 230px;
        height: 230px;
        border-radius: 115px;
    } 
}

@keyframes notSelect {
    from{
        background-color: #C9E265;
    }
    to{
        background-color: #C9E26525;
    } 
}

.exposicao-projetos{
    display: none; /*flex*/
    align-items: center;
    gap: 50px;
    justify-content: center;
    height: 20vh;

    margin-bottom: 50px;

    animation: mostrarProjetos 800ms forwards;
    overflow: hidden;
}

.exposicao-projetos div{
    border: 10px #C9E265 solid;
    background-color: gray;
    height: 15vh;
    width: 30vh;
    min-height: 100px;
    min-width: 250px;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    background-image: url("../../embreve.png");
}

#projeto-software div:first-child, #projeto-inovacao div:first-child{
    background-image: url("../../infoaguap.png");
}

#projeto-software div:not(div:first-child){
    background-image: url("../../embreve.png");
}

.exposicao-projetos div:hover{
    width: 32vh;
    height: 16vh;

    animation: hoverServicos 300ms;
}

#nome-projeto{
    font-size: 20pt;
    font-weight: bold;
    color: #BDB9B9;
    margin-bottom: 25pt;
}

#descricao-projeto{
    font-size: 16pt;
    line-height: 25pt;
    color: #BDB9B9;

}

@keyframes hoverServicos {
    from{
        width: 30vh;
        height: 15vh;
    }to{
        width: 32vh;
        height: 16vh;
    }
}

@keyframes mostrarProjetos {
    0%  {height: 0; visibility: hidden;}
    25% {height: 20vh; visibility: hidden;}
    26% {visibility: visible;  margin-left: 120vw;}
    75% {margin-left: -2vw;}
    100%{margin-left: 0;}
}